/* Base
========================================================================== */
body {
  font-family: "Titillium Web", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #3c4761; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

a:link {
  text-decoration: none; }

blockquote {
  margin: 0; }
  blockquote p {
    margin-top: 0;
    font-style: italic; }
  blockquote cite {
    display: block;
    font-size: 24px;
    font-weight: 600;
    font-style: normal; }

hr {
  border: 0;
  margin: 24px auto;
  width: 87px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.15); }

input, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.contact .contact-form input[type="text"],
.contact .contact-form input[type="email"], .contact .contact-form textarea {
  padding: 10px;
  color: #fff;
  background-color: #273a71;
  border-radius: 5px;
  font-size: 18px;
  line-height: 2;
  border: 0; }

/* Layout
========================================================================== */
.clearfix:before, .row:before, .clearfix:after, .row:after {
  content: '';
  display: table; }
.clearfix:after, .row:after {
  clear: both; }

.center-block, .container {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.container {
  width: 1100px; }

.row {
  margin-top: 48px;
  margin-left: -10px;
  margin-right: -10px; }

[class^="col-"] {
  position: relative;
  float: left;
  margin: 0 10px; }

.col-1 {
  width: 260px; }

.col-2 {
  width: 540px; }

.col-3 {
  width: 820px; }

.col-4 {
  width: 1100px; }

.col-half {
  width: 540px; }

.col-quarter {
  width: 260px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.welcome {
  padding: 60px 0;
  color: #fff;
  background-color: #87509c; }
  .welcome .logo {
    display: block; }
    .welcome .logo img {
      vertical-align: middle; }

.nav li a:hover, .nav .active a {
  background-color: #643a79;
  border-radius: 3px; }
.nav li:last-child {
  margin-right: 0; }
.nav li a {
  display: block;
  margin: 2px 0 3px;
  padding: 0 .75em;
  font-size: inherit;
  line-height: 2;
  color: inherit;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.jumbotron {
  padding: 100px 0; }
  .jumbotron .headline {
    line-height: 1; }

.services {
  color: #fff;
  background-color: #17c2a4; }

.team {
  background-color: #e7f1f8; }

.skills {
  background-color: #fff; }

.portfolio {
  color: #393939;
  background-color: #ffdd99; }
  .portfolio .filter-list li a {
    display: inline-block;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    padding: 0 1em;
    border-radius: 3px;
    color: inherit;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition: background-color, 0.3s;
    -o-transition: background-color, 0.3s;
    transition: background-color, 0.3s; }
    .portfolio .filter-list li a:hover {
      background-color: #fff; }
  .portfolio .filter-list .active a {
    background-color: #fff;
    cursor: default; }

.testimonials {
  color: #fff;
  background-color: #d74680; }
  .testimonials .row {
    margin-bottom: 48px; }
  .testimonials .quote-left {
    position: absolute;
    top: 0;
    left: 0; }
  .testimonials .quote-body {
    margin-left: 145px; }
    .testimonials .quote-body footer span {
      font-size: 18px;
      color: #ffdd99; }

.contact {
  color: #fff;
  background-color: #3c5499; }
  .contact .contact-form {
    width: 860px; }
    .contact .contact-form input[type="text"],
    .contact .contact-form input[type="email"] {
      width: 414px;
      height: 56px; }
      .contact .contact-form input[type="text"]:focus + label,
      .contact .contact-form input[type="email"]:focus + label {
        display: none; }
    .contact .contact-form textarea:focus + label {
      display: none; }

.page-footer {
  color: #fff;
  background-color: #344b8e;
  border-top: 1px solid #fff; }

/* Module
========================================================================== */
.btn {
  display: inline-block;
  padding: 0;
  width: 293px;
  height: 66px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.02em;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.btn-primary {
  background-color: #eb7d4b;
  -webkit-box-shadow: 0 4px 0 #d25217;
  box-shadow: 0 4px 0 #d25217; }
  .btn-primary:hover {
    background-color: #ee8e62;
    -webkit-box-shadow: 0 4px 0 #e86c34;
    box-shadow: 0 4px 0 #e86c34; }

.btn-secondary {
  background-color: #17c2a4;
  -webkit-box-shadow: 0 4px 0 #0f7e6a;
  box-shadow: 0 4px 0 #0f7e6a; }
  .btn-secondary:hover {
    background-color: #1ad9b7;
    -webkit-box-shadow: 0 4px 0 #14ab91;
    box-shadow: 0 4px 0 #14ab91; }

.btn-submit {
  background-color: #30bae7;
  -webkit-box-shadow: 0 4px 0 #158eb5;
  box-shadow: 0 4px 0 #158eb5; }
  .btn-submit:hover {
    background-color: #47c2ea;
    -webkit-box-shadow: 0 4px 0 #1ab2e3;
    box-shadow: 0 4px 0 #1ab2e3; }

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  opacity: .75;
  -webkit-transition: opacity, 0.3s;
  -o-transition: opacity, 0.3s;
  transition: opacity, 0.3s; }
  .icon:hover {
    opacity: 1; }
  .icon-facebook {
    background-position: 0 0; }
  .icon-twitter {
    background-position: -40px 0; }
  .icon-linkedin {
    background-position: -80px 0; }
  .icon-envelope {
    background-position: -120px 0; }

.social-link li a {
  display: block;
  margin: 1.5em .75em;
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  text-transform: capitalize;
  color: inherit;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }
.social-link li .link-facebook:hover {
  color: #3B5998; }
.social-link li .link-twitter:hover {
  color: #33CCFF; }
.social-link li .link-google-plus:hover {
  color: #C63D2D; }
.social-link li .link-linkedin:hover {
  color: #0181b2; }
.social-link li .link-behance:hover {
  color: #053eff; }
.social-link li .link-dribbble:hover {
  color: #EA4C89; }
.social-link li .link-github:hover {
  color: #151013; }

/* Theme
========================================================================== */
.text-center {
  text-align: center; }

.text-uppercase {
  text-transform: uppercase; }

.list-unstyled, .list-inline {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.list-inline li {
  display: inline-block;
  margin: 0 .5em; }

.img-circle {
  border-radius: 50%; }

.form-group {
  position: relative;
  margin-bottom: 24px; }
  .form-group label {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 18px;
    line-height: 1; }
    .form-group label sup {
      color: red; }

.form-control {
  display: block;
  width: 100%; }

.services, .team, .skills, .portfolio, .testimonials, .contact {
  padding: 120px 0; }

.page-header {
  margin-bottom: 48px; }
  .page-header h2 {
    margin: 0;
    line-height: 1; }
  .page-header p {
    padding: 0 15%;
    font-size: 18px; }

/*# sourceMappingURL=style.css.map */
